AZURE_OPENAI_ENDPOINT=https://raghallucinati3529319316.openai.azure.com/
AZURE_OPENAI_API_KEY=your_api_key_here
AZURE_OPENAI_API_VERSION=2024-12-01-preview
AZURE_GPT4O_DEPLOYMENT=gpt-4.1-mini-deployment
AZURE_EMBEDDING_DEPLOYMENT=text-embedding-3-large-deployment
AZURE_SEARCH_ENDPOINT=https://rag-aisearch-svc.search.windows.net
AZURE_SEARCH_API_KEY=your_search_admin_key_here
AZURE_SEARCH_INDEX_NAME=rag-documents-index
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=your_account;AccountKey=your_key;EndpointSuffix=core.windows.net
AZURE_BLOB_CONTAINER=documents
AZURE_TABLE_NAME=experimentlogs
GRV_THRESHOLD=0.6
PHI4_ENDPOINT=https://raghallucinati3529319316.openai.azure.com/
PHI4_DEPLOYMENT=Phi-4-deployment
PHI4_API_KEY=your_api_key_here
TOP_K_CHUNKS=5
